In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import statsmodels.formula.api as smf

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
os.chdir('/content/gdrive/My Drive/Colab Notebooks')
os.getcwd()

'/content/gdrive/My Drive/Colab Notebooks'

In [ ]:
df = pd.read_excel('TestForStat/CookieData.xlsx',sheet_name='Data',skiprows=3)
df.columns

Index(['Age', 'Education', 'Gender', 'TimeForInternet(hour/day)',
       'DeleteCookie'],
      dtype='object')

In [ ]:
df.head(10)

   Age            Education Gender TimeForInternet(hour/day)  DeleteCookie
0   20  กำลังศึกษาปริญญาตรี   หญิง         มากกว่า 8 ชั่วโมง             1
1   20  กำลังศึกษาปริญญาตรี   หญิง             4 - 8 ชั่วโมง             1
2   21  กำลังศึกษาปริญญาตรี   หญิง         มากกว่า 8 ชั่วโมง             1
3   20  กำลังศึกษาปริญญาตรี   หญิง             4 - 8 ชั่วโมง             1
4   21  กำลังศึกษาปริญญาตรี   หญิง             1 - 4 ชั่วโมง             1
5   20  กำลังศึกษาปริญญาตรี   หญิง         มากกว่า 8 ชั่วโมง             0
6   21  กำลังศึกษาปริญญาตรี   หญิง         มากกว่า 8 ชั่วโมง             1
7   20  กำลังศึกษาปริญญาตรี   หญิง         มากกว่า 8 ชั่วโมง             1
8   20  กำลังศึกษาปริญญาตรี   หญิง         มากกว่า 8 ชั่วโมง             1
9   20  กำลังศึกษาปริญญาตรี   หญิง             4 - 8 ชั่วโมง             1

In [ ]:
df['Education'].value_counts()

ต่ำกว่าปริญญาตรี       36
กำลังศึกษาปริญญาตรี    33
ปริญญาตรี              26
ปริญญาโท                7
Name: Education, dtype: int64

In [ ]:
df['TimeForInternet(hour/day)'].value_counts()

มากกว่า 8 ชั่วโมง    42
1 - 4 ชั่วโมง        32
4 - 8 ชั่วโมง        28
Name: TimeForInternet(hour/day), dtype: int64

In [ ]:
df.dtypes

Age                           int64
Education                    object
Gender                       object
TimeForInternet(hour/day)    object
DeleteCookie                  int64
dtype: object

In [ ]:
df['DeleteCookie'].value_counts()

1    66
0    36
Name: DeleteCookie, dtype: int64

In [ ]:
df['Education'] = df.loc[:, 'Education'].replace(['กำลังศึกษาปริญญาตรี', 'ปริญญาตรี','ต่ำกว่าปริญญาตรี','ปริญญาโท'], [1, 1, 0, 1])

In [ ]:
df.head(30)

    Age  Education Gender TimeForInternet(hour/day)  DeleteCookie
0    20          1   หญิง         มากกว่า 8 ชั่วโมง             1
1    20          1   หญิง             4 - 8 ชั่วโมง             1
2    21          1   หญิง         มากกว่า 8 ชั่วโมง             1
3    20          1   หญิง             4 - 8 ชั่วโมง             1
4    21          1   หญิง             1 - 4 ชั่วโมง             1
5    20          1   หญิง         มากกว่า 8 ชั่วโมง             0
6    21          1   หญิง         มากกว่า 8 ชั่วโมง             1
7    20          1   หญิง         มากกว่า 8 ชั่วโมง             1
8    20          1   หญิง         มากกว่า 8 ชั่วโมง             1
9    20          1   หญิง             4 - 8 ชั่วโมง             1
10   21          1   หญิง         มากกว่า 8 ชั่วโมง             1
11   21          1    ชาย         มากกว่า 8 ชั่วโมง             0
12   21          1    ชาย         มากกว่า 8 ชั่วโมง             1
13   19          1    ชาย             4 - 8 ชั่วโมง             1
14   20          1    ชาย         มากกว่า 8 ชั่วโมง             1
15   20          1    ชาย         มากกว่า 8 ชั่วโมง             1
16   22          1   หญิง             4 - 8 ชั่วโมง             1
17   21          1   หญิง             4 - 8 ชั่วโมง             1
18   25          1   หญิง             4 - 8 ชั่วโมง             1
19   24          1   หญิง             4 - 8 ชั่วโมง             1
20   19          1   หญิง             4 - 8 ชั่วโมง             0
21   19          1   หญิง             1 - 4 ชั่วโมง             0
22   26          1   หญิง             1 - 4 ชั่วโมง             1
23   21          1   หญิง             1 - 4 ชั่วโมง             1
24   46          1   หญิง             1 - 4 ชั่วโมง             1
25   59          1   หญิง             1 - 4 ชั่วโมง             0
26   45          1   หญิง             4 - 8 ชั่วโมง             0
27   30          1   หญิง         มากกว่า 8 ชั่วโมง             1
28   22          1   หญิง             4 - 8 ชั่วโมง             1
29   20          1    ชาย             4 - 8 ชั่วโมง             1

In [ ]:
df.rename(columns={'TimeForInternet(hour/day)':'TFIN'}, inplace=True)

In [ ]:
df.columns

Index(['Age', 'Education', 'Gender', 'TFIN', 'DeleteCookie'], dtype='object')

In [ ]:
df.head(30)

    Age  Education Gender               TFIN  DeleteCookie
0    20          1   หญิง  มากกว่า 8 ชั่วโมง             1
1    20          1   หญิง      4 - 8 ชั่วโมง             1
2    21          1   หญิง  มากกว่า 8 ชั่วโมง             1
3    20          1   หญิง      4 - 8 ชั่วโมง             1
4    21          1   หญิง      1 - 4 ชั่วโมง             1
5    20          1   หญิง  มากกว่า 8 ชั่วโมง             0
6    21          1   หญิง  มากกว่า 8 ชั่วโมง             1
7    20          1   หญิง  มากกว่า 8 ชั่วโมง             1
8    20          1   หญิง  มากกว่า 8 ชั่วโมง             1
9    20          1   หญิง      4 - 8 ชั่วโมง             1
10   21          1   หญิง  มากกว่า 8 ชั่วโมง             1
11   21          1    ชาย  มากกว่า 8 ชั่วโมง             0
12   21          1    ชาย  มากกว่า 8 ชั่วโมง             1
13   19          1    ชาย      4 - 8 ชั่วโมง             1
14   20          1    ชาย  มากกว่า 8 ชั่วโมง             1
15   20          1    ชาย  มากกว่า 8 ชั่วโมง             1
16   22          1   หญิง      4 - 8 ชั่วโมง             1
17   21          1   หญิง      4 - 8 ชั่วโมง             1
18   25          1   หญิง      4 - 8 ชั่วโมง             1
19   24          1   หญิง      4 - 8 ชั่วโมง             1
20   19          1   หญิง      4 - 8 ชั่วโมง             0
21   19          1   หญิง      1 - 4 ชั่วโมง             0
22   26          1   หญิง      1 - 4 ชั่วโมง             1
23   21          1   หญิง      1 - 4 ชั่วโมง             1
24   46          1   หญิง      1 - 4 ชั่วโมง             1
25   59          1   หญิง      1 - 4 ชั่วโมง             0
26   45          1   หญิง      4 - 8 ชั่วโมง             0
27   30          1   หญิง  มากกว่า 8 ชั่วโมง             1
28   22          1   หญิง      4 - 8 ชั่วโมง             1
29   20          1    ชาย      4 - 8 ชั่วโมง             1

In [ ]:
df['DeleteCookie'].value_counts()

1    66
0    36
Name: DeleteCookie, dtype: int64

In [ ]:
df['TFIN'] = df.loc[:, 'TFIN'].replace(['มากกว่า 8 ชั่วโมง','1 - 4 ชั่วโมง','4 - 8 ชั่วโมง' ], [1,0,1])

In [ ]:
df.head(10)

   Age  Education Gender  TFIN  DeleteCookie
0   20          1   หญิง     1             1
1   20          1   หญิง     1             1
2   21          1   หญิง     1             1
3   20          1   หญิง     1             1
4   21          1   หญิง     0             1
5   20          1   หญิง     1             0
6   21          1   หญิง     1             1
7   20          1   หญิง     1             1
8   20          1   หญิง     1             1
9   20          1   หญิง     1             1

In [ ]:
df['TFIN'].value_counts()

1    70
0    32
Name: TFIN, dtype: int64

In [ ]:
df.corr()

                   Age  Education      TFIN  DeleteCookie
Age           1.000000  -0.520851 -0.549358     -0.520851
Education    -0.520851   1.000000  0.605982      0.699495
TFIN         -0.549358   0.605982  1.000000      0.561769
DeleteCookie -0.520851   0.699495  0.561769      1.000000

In [ ]:
model = smf.ols(formula='DeleteCookie~Education+Age', data=df).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           DeleteCookie   R-squared:                       0.523
Model:                            OLS   Adj. R-squared:                  0.513
Method:                 Least Squares   F-statistic:                     54.25
Date:                Fri, 20 Nov 2020   Prob (F-statistic):           1.23e-16
Time:                        13:30:03   Log-Likelihood:                -31.674
No. Observations:                 102   AIC:                             69.35
Df Residuals:                      99   BIC:                             77.22
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5295      0.139      3.820      0.000       0.254       0.805
Education      0.5876      0.081      7.226      0.000       0.426       0.749
Age           -0.0080      0.003     -2.641      0.010      -0.014      -0.002
==============================================================================
Omnibus:                       13.245   Durbin-Watson:                   1.738
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               27.868
Skew:                          -0.432   Prob(JB):                     8.88e-07
Kurtosis:                       5.411   Cond. No.                         164.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:

model.params

Intercept         0.448558
Gender[T.หญิง]   -0.050254
Education         0.526331
TFIN              0.150013
Age              -0.006535
dtype: float64

สมการ Linear Regression คือ ความน่าจะเป็นที่จะลบคุกกี้ = 0.125871+0.567448(Education)+0.224429(TFIN)